/* You can add global styles to this file, and also import other style files */
html {

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+16,207cca+70,128ae5+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(-45deg, #1e5799 0%, #2989d8 16%, #207cca 70%, #128ae5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #1e5799 0%,#2989d8 16%,#207cca 70%,#128ae5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #1e5799 0%,#2989d8 16%,#207cca 70%,#128ae5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#128ae5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@media (max-width: 500px) {
  .reveal .controls {
    bottom: 85px !important;
  }

  .breadcrumb {
    position: relative;
    bottom: 50px;
  }

  .roundImg{
    position: relative;
    width: 50%;
    right: -25% !important;
  }

  .centeredStart {
    bottom: 110% !important;
  }


}

@media (max-width: 380px) {
  .roundImg{
    position: relative;
    width: 50%;
    right: -25% !important;
  }

  .centeredStart {
    bottom: 110% !important;
  }

  .reveal .controls {
    bottom: 95px !important;
  }

  .breadcrumb {
    display: flex !important;
    position: relative;
    bottom: 50px;
    width: 100vw !important;
  }

  .breadcrumb > div {
    width: 95px !important;
  }


}

.topBar{
	height: 70px; 
	background-color: #2D3E50;
}

.topBar h1{
	color: white;
}

.roundLogo{
/*border: 3pt solid red;*/
}

.roundHeadLogo {
	max-width: 100%;
    position: relative;
    z-index: 2;
}

.roundImg {
  position: relative;
    top: -65px;
    right: -10%;

}

.roundHeadLogoRel {
	max-width: 100%;
    z-index: 2;
}


/*BOOTSTRAP MODAL CENTERING FIX*/
.modal-dialog {
  position:absolute;
  top:50% !important;
  transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
  margin:auto 5%;
  width:90%;
  height:80%;
}
.modal-content {
  min-height:425px;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0; 
}
.modal-body {
  position:absolute;
  top:45px; // height of header
  bottom:45px;  // height of footer
  left:0;
  right:0;
  overflow-y:auto;
}
.modal-footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}



.progress {
  top:0;
}

.present {
  height: 90%;
  width: 90%;
  /*overflow-y: auto;*/
}

.flex {
  display:flex;
  justify-content: flex-end;

}

.right {
  text-align: right;
}

.f1 {
  flex:1;
}

.f2 {
  flex:2;
}

.f3 {
  flex:3;
}

.f4 {
  flex:4;
}

.f5 {
  flex:5;
}