<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse" style="height: 3000px">
        	<div>
        		<div style="width: 100%">
        			<img class="roundHeadLogoRel" src="../../assets/imgs/Logo Lacthosa.png">
        		</div>
        	</div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Resumen</a></li>
            <li><a href="#">Graficos disponibles:</a>
              <div class="list-group" style="overflow-y: scroll; height: 400px">
                
           <!--      <li class="dropdown"> -->
                <button type="button" data-toggle="dropdown" class="availableModules list-group-item list-group-item-action dropdown-toggle active" (click)="goToGraph(1)">Lineal</button>
                <!-- <ul class="dropdown-menu" style="left: 5%; width: 90%;">
                <li><a href="#">Presentacion</a></li>
                <li><a href="#">Lectura</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Examen</a></li>
                </ul>
                </li> -->           
                <button type="button" class="availableModules list-group-item list-group-item-action" (click)="goToGraph(2)">Barras</button>
                <button type="button" class="availableModules list-group-item list-group-item-action" (click)="goToGraph(3)">Circular</button>
                
              </div>
            </li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">CO</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
            <li><a href="#">Contenido</a></li>
            <li><a href="#">Usuarios</a></li>
            <li><a href="#">Contactar<span class="badge">o</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-9" >
    <body>
      <div class="animateme">
        <ul class="bg-bubbles" style="background-color: white">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      
      <router-outlet></router-outlet>
      <!-- <app-session-slideshow *ngSwitchCase="1" [isOn]='isOn' [(currentStep)]="currentStep"></app-session-slideshow>
      <app-session-doc *ngSwitchCase="2" ></app-session-doc>  -->     

      

    </body>
    
        
  </div>

</div>
