<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse" style="height: 3000px">
        	<div>
        		<div style="width: 100%">
        			<img class="roundHeadLogoRel" src="../../assets/imgs/Logo Lacthosa.png">
        		</div>
        	</div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Resumen</a></li>
            <li><a href="#">Individuales :</a>
              <div class="list-group" style="overflow-y: scroll; height: 400px">
                

                <button *ngFor="let user of users; let uNum = index" type="button" data-toggle="dropdown" class="availableModules list-group-item list-group-item-action dropdown-toggle" (click)="goToGraph(1)">{{user.firstname}} {{user.lastname}}</button>
                <!-- <ul class="dropdown-menu" style="left: 5%; width: 90%;">
                <li><a href="#">Presentacion</a></li>
                <li><a href="#">Lectura</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Examen</a></li>
                </ul>
                </li> -->                                                        
              </div>
            </li>            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-9" >
    <body>
      <div class="animateme">
        <ul class="bg-bubbles" style="background-color: white">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      
      <router-outlet></router-outlet>
      <!-- <app-session-slideshow *ngSwitchCase="1" [isOn]='isOn' [(currentStep)]="currentStep"></app-session-slideshow>
      <app-session-doc *ngSwitchCase="2" ></app-session-doc>  -->     

      

    </body>
    
        
  </div>

</div>
