<style type="text/css">
  .btn{
    line-height: 2.428571;
    position: relative;
    float: left;
    margin-right: 30px;
  }

  .side-icon{
    width: 50%;
    position: absolute;
    top: 0;
    left: 100%;
  }

  .side-button{
    margin-right: 30px;
  }
</style>

<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse" >
        	<div>
        		<div style="width: 100%">
        			<img class="roundHeadLogoRel" src="http://45.55.251.183/content/logos/{{appVars.company}}.png">
        		</div>
        	</div>
          <ul class="nav navbar-nav" style="height: 100vh">
            <li class="active"><a >Resumen</a></li>
            <li style="margin-bottom: 10px;"> <a >Modulos disponibles:</a>
              <div class="list-group">
                <div class="moduleBtns" style="height: 50vh">
           <!--      <li class="dropdown"> -->
                <button type="button" data-toggle="dropdown" class="availableModules list-group-item list-group-item-action dropdown-toggle " (click)="goTo(1)" [ngClass]="{'active': (modnum === 1) }">1 - Comunicación Efectiva</button>
                <!-- <ul class="dropdown-menu" style="left: 5%; width: 90%;">
                <li><a href="#">Presentacion</a></li>
                <li><a href="#">Lectura</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Examen</a></li>
                </ul>
                </li> -->
                
                  <button type="button" class="availableModules list-group-item list-group-item-action" [ngClass]="{'active': (modnum === 2) }" (click)="goTo(2)">2 - Enfoque a la Tarea</button>
                  <button type="button" class="availableModules list-group-item list-group-item-action" [ngClass]="{'active': (modnum === 3) }" (click)="goTo(3)">3 - Gestion del Cambio</button>
                  <button type="button" class="availableModules list-group-item list-group-item-action" [ngClass]="{'active': (modnum === 4) }" (click)="goTo(4)">4 - Gestion del Tiempo</button>
                  <button type="button" class="availableModules list-group-item list-group-item-action" [ngClass]="{'active': (modnum === 5) }" (click)="goTo(5)">5 - Supervision Efectiva</button>
                  <button type="button" class="availableModules list-group-item list-group-item-action" [ngClass]="{'active': (modnum === 6) }" (click)="goTo(6)">6 - Servicio al Cliente</button>
                  <button type="button" class="availableModules list-group-item list-group-item-action" [ngClass]="{'active': (modnum === 7) }" (click)="goTo(7)">7 - Gestion de Talento Humano</button>
                  <button type="button" class="availableModules list-group-item list-group-item-action" [ngClass]="{'active': (modnum === 8) }" (click)="goTo(8)">8 - Trabajo en Equipo</button>
                  <button type="button" class="availableModules list-group-item list-group-item-action" [ngClass]="{'active': (modnum === 9) }" (click)="goTo(9)">9 - Liderazgo</button>
                  <button type="button" class="availableModules list-group-item list-group-item-action" [ngClass]="{'active': (modnum === 10) }" (click)="goTo(10)">10 - Analisis de Problemas y Toma de Decisiones</button>
                  <button type="button" class="availableModules list-group-item list-group-item-action" [ngClass]="{'active': (modnum === 11) }" (click)="goTo(11)">11 - Confrontación de Equipos Efectiva</button>
                  <button type="button" class="availableModules list-group-item list-group-item-action" [ngClass]="{'active': (modnum === 12) }" (click)="goTo(12)">12 - Equipos de Alto Rendimiento</button>
                </div>
              </div>
            </li>

            <li>
              <div class="list-group">
                <button type="button" style="background-color: #ffca00" class="availableModules list-group-item list-group-item-action" (click)="openModalWithComponent()"><span class="glyphicon glyphicon glyphicon-dashboard"   aria-hidden="true"></span> Reporte de Progreso </button>
              </div>
            </li>
    
            


          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-9" >
    <body>
      <div class="animateme">
        <ul class="bg-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      
      <router-outlet></router-outlet>
      <!-- <app-session-slideshow *ngSwitchCase="1" [isOn]='isOn' [(currentStep)]="currentStep"></app-session-slideshow>
      <app-session-doc *ngSwitchCase="2" ></app-session-doc>  -->     

      <div class="row bs-wizard">
      <app-crumbs></app-crumbs>
                
                <!-- <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Presentacion</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>                  
                </div>
                
                <div class="col-xs-3 bs-wizard-step active"><!- complete ->
                  <div class="text-center bs-wizard-stepnum">Lectura</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>                  
                </div>
                
                <div class="col-xs-3 bs-wizard-step disabled"><!- complete ->
                  <div class="text-center bs-wizard-stepnum">Video</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>
                
                <div class="col-xs-3 bs-wizard-step disabled"><!- active ->
                  <div class="text-center bs-wizard-stepnum">Examen</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div> -->
        </div>        
        

    </body>
    
  </div>

</div>
