<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse" style="height: 3000px">
        	<div>
        		<div style="width: 100%">
        			<img class="roundHeadLogoRel" src="../../assets/imgs/Logo Lacthosa.png">
        		</div>
        	</div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Resumen</a></li>
            <li><a href="#">Modulos disponibles:</a>
              <div class="list-group" style="overflow-y: scroll; height: 400px">
                
           <!--      <li class="dropdown"> -->
                <button type="button" data-toggle="dropdown" class="availableModules list-group-item list-group-item-action dropdown-toggle active">Modulo 1</button>
                <!-- <ul class="dropdown-menu" style="left: 5%; width: 90%;">
                <li><a href="#">Presentacion</a></li>
                <li><a href="#">Lectura</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Examen</a></li>
                </ul>
                </li> -->
                <button type="button" class="availableModules list-group-item list-group-item-action">Modulo 2</button>
                <button type="button" class="availableModules list-group-item list-group-item-action">Modulo 3</button>
                <button type="button" class="availableModules list-group-item list-group-item-action">Modulo 4</button>
                <button type="button" class="availableModules list-group-item list-group-item-action">Modulo 5</button>
                <button type="button" class="availableModules list-group-item list-group-item-action">Modulo 6</button>
                <button type="button" class="availableModules list-group-item list-group-item-action">Modulo 7</button>
                <button type="button" class="availableModules list-group-item list-group-item-action">Modulo 8</button>
                <button type="button" class="availableModules list-group-item list-group-item-action">Modulo 9</button>
                <button type="button" class="availableModules list-group-item list-group-item-action">Modulo 10</button>
                <button type="button" class="availableModules list-group-item list-group-item-action">Modulo 11</button>
                <button type="button" class="availableModules list-group-item list-group-item-action">Modulo 12</button>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li><a href="#">Menu Item 4</a></li>
            <li><a href="#">Reviews <span class="badge">1,118</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-9" >
    <body>
      <div class="animateme">
        <ul class="bg-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      
      <router-outlet></router-outlet>
      <!-- <app-session-slideshow *ngSwitchCase="1" [isOn]='isOn' [(currentStep)]="currentStep"></app-session-slideshow>
      <app-session-doc *ngSwitchCase="2" ></app-session-doc>  -->     

      

    </body>
    <div class="row bs-wizard" style="border-bottom:0;">
                
                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Presentacion</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>                  
                </div>
                
                <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Lectura</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>                  
                </div>
                
                <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Video</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>
                
                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">Examen</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>
        </div>        
        
  </div>

</div>
\