/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.modal_xlg{
  width: auto !important;
}


.bs-wizard{
  position: absolute;
  bottom:0;
  left:0;
  right: 40px;

  width: 100%;
  z-index: 999;
  margin:auto;
  /*border:3pt solid red;*/
  display: flex;
}

.bs-wizard > * {
  /*flex:2;*/
  margin: auto !important;
  /*border:3pt solid blue;*/
}


*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

body{
  background:#252525;
  height: 90vh;
}

.availableModules {
  height: 50px;
  width: 90%;
  left: 5%;
  text-align: center;
}

.animateme {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*z-index: -1;*/
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #353535;
  bottom: 60px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity:0;
}

.bg-bubbles li:nth-child(1) {
  left: 3%;
  border-radius:50em;
  background:transparent;
  border:4px solid #353535;
}
.bg-bubbles li:nth-child(2) {
  left: 6%;
  width: 75px;
  height: 75px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 15%;
  width: 175px;
  height: 175px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 90px;
  height: 90px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
  background:transparent;
  border:4px solid #353535;
}
.bg-bubbles li:nth-child(6) {
  left: 90%;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  border-radius:50em;
  background:transparent;
  border:4px solid #353535;
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  background:transparent;
  border:4px solid #353535;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 30%;
  width: 140px;
  height: 140px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  border-radius:50em;
  background:transparent;
  border:4px solid #353535;
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
.bg-bubbles li:nth-child(11) {
  left: 10%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
  border-radius:50em;
}
.bg-bubbles li:nth-child(12) {
  left: 55%;
  width: 175px;
  height: 175px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  background:transparent;
  border:4px solid #353535;
}

.bg-bubbles li:nth-child(13) {
  left: 65%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  border-radius:50em;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
    opacity:1;
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
    opacity:0;
  }
}

*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959; 
    font-size: 14px; 
    margin-bottom: 5px;
    height: 22px;
    }
.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999; 
    font-size: 12px;}
    
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute; 
    width: 30px; 
    height: 30px; 
    display: block; 
    background: #0776B2; 
    top: 45px; left: 50%; 
    margin-top: -15px; 
    margin-left: -15px; 
    border-radius:  4px;/* 30%; */
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot > img {
    position: absolute; 
    width: 20px; 
    height: 20px; 
    display: block; 
    top: 35px; left: 50%; 
    margin-top: -30px; 
    margin-left: -9px; 
    } 
/* .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' '; 
    width: 14px; 
    height: 14px; 
    background: #fbbd19; 
    border-radius: 50px; 
    position: absolute; 
    top: 8px; 
    left: 8px; 
    } */
.bs-wizard > .bs-wizard-step > .progress {
    position: 
    relative; 
    border-radius: 0px; 
    height: 30px; 
    box-shadow: none; 
    margin: 8px 0;
    }
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width:0px; 
    box-shadow: none; 
    background: #0776B2;
    height:30px;
    }
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width:100%;
    
    }
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width:50%;
    
    }
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width:0%;
    
    }
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
    
    }
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
    
    }
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
    
    }
.bs-wizard > .bs-wizard-step:first-child  > .progress {
    left: 50%; 
    width: 50%;

    }
.bs-wizard > .bs-wizard-step:last-child  > .progress {
    width: 50%;

    }
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

.moduleBtns{
  padding: 5px; 
  height: 40vh;
  /*border: 3pt solid black;*/
  overflow: auto;
}

/*////////////////////////////////////////////////////////////////////////*/

