<style type="text/css">
	.topbar-icon{
		vertical-align: unset;
		max-width: 30px;
	}

	.btn{
		vertical-align: unset;
	}
</style>


<div class="container-fluid topBar">
	<div class="row">
	
			

		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<h1 style="font-size: 1.3em">
				E-Learning
			</h1>
		</div>

		<div class="col-lg-offset-6 col-md-offset-4 col-sm-offset-4 col-xs-offset-2 col-md-6 col-sm-6 col-xs-8 col-lg-4" style="max-height: 70px">
			        
            
              <button type="button" class="btn btn-primary">Bibliografía <div class="side-icon"><img class="topbar-icon" src="assets/svg/faq.svg"></div></button>
            
            
            
              <button type="button" class="btn btn-primary" >Metodología <div class="side-icon"><img class="topbar-icon" src="assets/svg/pyramid.svg"></div></button>
            
            
            
              <button type="button" class="btn btn-primary" >Ayuda <div class="side-icon" style="width: 75%;"><img class="topbar-icon" src="assets/svg/email.svg"></div></button>
            
		</div>
	</div>		
</div>



<!-- <p>
  {{hero.name}}
</p>

<div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name">
    </label>
</div> -->
