<div class="reveal">
	<div class="slides">
		<section><h1 style="color: white;">Sesion 1</h1></section>
		<section><img style="width: 100%" data-src="../../assets/sesiones/sesion1.jpg/slide1.jpg"></section>
		<section><img style="width: 100%" data-src="../../assets/sesiones/sesion1.jpg/slide2.jpg"></section>
		<section><img style="width: 100%" data-src="../../assets/sesiones/sesion1.jpg/slide3.jpg"></section>
		<section><img style="width: 100%" data-src="../../assets/sesiones/sesion1.jpg/slide4.jpg"></section>	  
	</div>
</div>