<div class="reveal">
	<div class="slides">
		<section><h1 style="color: white;">Video {{video.id}}</h1></section>
	    <!-- Empty slide for proper usage of LastSlide method from 	RevealJS -->
	    <section>	    	
	    		<p style="color: white" class="fragment fade-up">
					•	Analizar el resultado y hacer un auto análisis.
		    	</p>

		    	<p style="color: white" class="fragment fade-up">
					•	Ver con detenimiento el video ya que algunas preguntas del examen provienen del video.
		    	</p>	    		
	    	
    	</section>

    	<section style="    z-index: 1;
				    position: absolute;
				    left: 50%;				    
				    transform: translateX(-50%);
				    height: 100%; width: 100%;
				"  ><iframe style="height: 100%; width: 100%" [src]="videoURL" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</section>

		<section></section>
	</div>
</div>


