<div class="reveal">
	<div class="slides">
		<section><h1 style="color: white;">Test {{modum}}</h1></section>
		
	    <!-- Empty slide for proper usage of LastSlide method from 	RevealJS -->
	    <section>	    	
	    		<p style="color: white" class="fragment fade-up">
					Dar clic a la siguiente liga.
		    	</p>

		    	<p style="color: white" class="fragment fade-up">
					<a target="_blank" href="{{test[0]}}">{{test[0]}}</a>
		    	</p>

		    	<p style="color: white" class="fragment fade-up">
					•	Tener cuidado algunas pruebas castigan el tiempo o cierran la sesión.
		    	</p>

		    	<p style="color: white" class="fragment fade-up">
					•	Analizar el resultado y hacer un auto análisis.
		    	</p>

		    	<p style="color: white" class="fragment fade-up">
					•	Colocar el resultado en la pestaña de comentarios de test, de cada tema.
		    	</p>	  
		    	    
    	</section>

    	<section>
    		<p style="color: white" class="fragment fade-up">
					*La aplicación y evaluación de este test es con fines de auto aprendizaje, nunca con el fin de investigación ni violando los derechos de autor.
		    	</p>		
    	</section>

		<section></section>
	</div>
</div>



