<div style="z-index: 5">
	
		<div style="position: absolute; width:100%; margin:auto; top: 50%;   transform: translateY(-50%); display: block;">
			<canvas id="canvas">{{chart}}</canvas>
		</div>

		<div style="position: absolute; width:100%; margin:auto; width:100%; margin:auto; top: 50%;   transform: translateY(-50%); display: none;" >
			<canvas id="bar">{{bar}}</canvas>
		</div>

		<div style="position: absolute; width:100%; margin:auto; width:100%; margin:auto; top: 50%;   transform: translateY(-50%); display: none">
			<canvas id="radar">{{radar}}</canvas>
		</div>
	
</div>