<div class="reveal">
	<div class="slides">
		
		<section><h1 style="color: white;">Examen</h1></section>
		
	    <!-- Empty slide for proper usage of LastSlide method from RevealJS -->
	    
	    <section>	   
	    		<h3 style="color: white;">Una  organización es un conjunto de...</h3>
	    		<section>
					<div class="fragment fade-up">
						<label style=" opacity: 1; color: white" class=" class123-label class123-radio" for="id123-control4243529_0"><span class="outside"><span class="inside"></span></span><span class="label-text"><span class="label-cont">Option1</span></span></label>

						<label style=" opacity: 1;  color: white " class=" class123-label class123-radio" for="id123-control4243529_0"><span class="outside"><span class="inside"></span></span><span class="label-text"><span class="label-cont">Option2</span></span></label>

						<label style=" opacity: 1;  color: white" class=" class123-label class123-radio" for="id123-control4243529_0"><span class="outside"><span class="inside"></span></span><span class="label-text"><span class="label-cont">Option3</span></span></label>	
					</div>
    			</section>	    		    			    	
    	</section>

    	<section>	   
	    		<h3 style="color: white;">Cuando supervises, es importante...</h3>
	    		<section>
					<div class="fragment fade-up">
						<label style=" opacity: 1;  color: white" class=" class123-label class123-radio" for="id123-control4243529_0"><span class="outside"><span class="inside"></span></span><span class="label-text"><span class="label-cont">Option1</span></span></label>

						<label style=" opacity: 1;  color: white" class=" class123-label class123-radio" for="id123-control4243529_0"><span class="outside"><span class="inside"></span></span><span class="label-text"><span class="label-cont">Option2</span></span></label>

						<label style=" opacity: 1;  color: white" class=" class123-label class123-radio" for="id123-control4243529_0"><span class="outside"><span class="inside"></span></span><span class="label-text"><span class="label-cont">Option3</span></span></label>	
					</div>
    			</section>	    		    			    	
    	</section>


		<section></section>
		
	</div>
</div>